<!DOCTYPE html>
<html>
<head>
    <style>
        h2, h4 {
            padding: 0px;
            margin: 0px;
        }

        h2 {
            font-weight: bold;
            font-size: 16px;
            color: green;
            padding-left: 20px;
        }

        h4 {
            font-weight: bold;
            font-size: 12px;
            color: blue;
            padding-left: 40px;
        }

        .user-line {
            padding-left: 60px;
        }
    </style>
</head>
<body>
<h1>用户列表</h1>

<% for(var item in data) { var ipSegment = data[item]; %>
<h2><%= item %></h2>
<% for(var user in ipSegment) { if(user != 'location') { %>
<h4><%= user %></h4>
<% let userSegment = ipSegment[user]; %>
<div class="user-line">
    <span>机构代码: <%= userSegment.oid %> </span>
    <span> 权限值: <%= userSegment.role %> </span>
    <span>
        播放时长:
        <% userSegment.play ? userSegment.play * 5 : 0 %>
        秒
    </span>
    <span>
        课程数:

    </span>
</div>
<% }} %>
<% } %>
</body>
</html>
